[target.mips]
rustflags = [
"-C", "llvm-args=--disable-mips-delay-filler", #we dont have delayslots so full em with nops

#"-C", "lto=yes", #optimize at link time
"-C" ,"embed-bitcode=yes", #this is needed for ^
#link time optimization for some reason includes undefined reference to std::panic in debug mode

"-C", "link-arg=-T",
"-C", "link-arg=mips/link.map",


#"-C", "target-feature=+crt-static", #compiles as static


"-C", "relocation-model=static",
#"-Z build-std=core",

#"-C", "link-arg=-fno-delayed-branch",
#"-C", "link-arg=-mips1", #set arch for gcc
#"-C", "link-arg=-nostartfiles", #we dont have to include any starting libraries
]


[unstable]
build-std = ["core", "compiler_builtins"]

[build]
target ="mips-unknown-linux-gnu"
